<style>
    body{
        background-image: url(/images/home-1-bg-gr-4.svg);
    }
</style>
<div class="container-full intro_box justify-content-center">
    <div class="row intro_banner justify-content-center">
        <a href="#!quiz">
            <img src="/images/intro_banner.jpg" alt="" class="img-fluid d-block w-90 mx-auto">
        </a>
    </div>
    <div class="row">
        <div class="">
            <i class="fa fa-hand-o-right" aria-hidden="true" style="color: black; font-size: 2.0em;"></i><span>&nbsp;</span>
        </div>
        <div class="col-lg-2">
            <a href="#!course">
                <div class="word row">
                </div>
            </a>
        </div>
    </div>
    
    <div class="row intro_information">
        <p>
            Thành lập năm 2021, https://ONLINEIT.com là website học các môn lập trình online với
            hơn
            20.000 các thành viên chia sẻ và học hỏi lẫn nhau mỗi ngày.
        </p>

        <p>
            Chúng tôi là tập hợp đội ngũ trẻ, tài năng và đầy lòng nhiệt huyết với ngành giáo dục tới từ Mỹ và Việt Nam.
            Mục tiêu của chúng tôi là đưa các sản phẩm giáo dục công nghệ tốt nhất tới tay người học tại Việt Nam, giúp
            mọi người học hiệu quả hơn, vui hơn, tiết hiệm hơn cả về mặt thời gian và chi phí.
        </p>
    </div>
    <div class="row intro_banner ">
        <a href="#!quiz">
            <img src="/images/hero.png" alt="" class="img-fluid d-block w-75 mx-auto">
        </a>
       
    </div>
    <hr>
    <div class="row intro_progress bg-white">
        <h3 class="col-md-12 text-center orange-text" style="font-size: 3rem;">Tiến độ của chúng tôi cho đến nay</h3>
        <div class="col-md-4">
            <div class="card border-0 mt-5">
                <div class="card-header border-0 bg-white">
                    <img src="/images/progress-3.png" alt="" class="img-fluid mx-auto d-block" style="width: 75%;">
            
                </div>
                <div class="card-body">
                    <h4>
                        HƠN 20K THÀNH VIÊN THAM GIA VỚI CHÚNG TÔI MỖI THÁNG !
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-0 mt-5">
                <div class="card-header border-0 bg-white">
                    <img src="/images/progress-2.png" alt="" class="img-fluid mx-auto d-block" style="width: 75%;">
            
                </div>
                <div class="card-body">
                    <h4>
                        VỚI HƠN 100 BỘ ĐỀ VÀ LÝ THUYẾT ĐƯỢC CẬP NHẬT HẰNG NGÀY TỪ CÁC TRUNG TÂM VÀ CUỘC THI!
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-0 mt-5">
                <div class="card-header border-0 bg-white">
                    <img src="/images/progress-1.png" alt="" class="img-fluid mx-auto d-block" style="width: 75%;">
            
                </div>
                <div class="card-body">
                    <h4>
                        ƯU ĐÃI CHO THÀNH VIÊN MỚI 50% VÀ RẤT NHIỀU ƯU ĐÃI CHO CÁC HỌC SINH VÀ SINH VIÊN!
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>