<style>
    body {
        background-image: url(/images/home-1-bg-gr-4.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
<section>
    <div class="col-lg-8 m-auto">
        <div class="card card-cascade narrower bg-transparent">

            <div class="card-body card-body-cascade p-5 bg-transparent">

                <form name="frmRegister">
                    <div class="md-form md-outline bg-transparent">
                        <i class="fas fa-user prefix text-primary"></i>
                        <input name="username" ng-model="username" type="text" id="username" class="form-control border-primary" 
                        placeholder="Tài khoản" maxlength="25">
                        
                        <small ng-show="frmRegister.username.$invalid" id="username" class="form-text text-danger">Vui lòng nhập tài khoản</small>
                    </div>

                    <div class="md-form md-outline">
                        <i class="far fa-envelope prefix text-primary"></i>
                        <input name="email" ng-model="email" type="email" id="email" class="form-control border-primary" 
                        placeholder="Email">
                        <small ng-show="frmRegister.email.$error.required" id="email" class="form-text text-danger">Vui lòng nhập email</small>
                        <small ng-show="frmRegister.email.$error.email" id="email" class="form-text text-danger">Không đúng định dạng email</small>
                    </div>

                    <div class="text-center mt-4">
                        <button ng-click="getPass()" ng-disabled="frmRegister.$invalid" class="btn morpheus-den-gradient btn-rounded text-white">Xác nhận</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</section>