<style>
    body {
        background-image: url(/images/home-1-bg-gr-4.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
</style>

<div class="container-full">
    <div class="container-full" style="margin-top: 2rem;">
        <section class="secsion_home">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="secsion_h2">
                        XIN CHÀO,
                        <p style="font-size: 25px;">Online developer đã được thành lập và vận hành hơn 10 năm kinh nghiệm
                            trong ngành
                            ,với đội ngũ hơn 200 thành viên và giảng viên.Đạt được rất nhiều thành tích và khen ngợi từ cộng
                            đồng.
                        </p>
                        <p style="font-size: 25px; color: wheat;">
                            Hãy tham gia với chúng tôi.
                        </p>
                    </h2>
                    <div class="container text-center font-weight-bold">
                        <a class=" btn rounded-pill btn-hover color-1 text-white" href="#!register" ng-show="student==null">
                            START
                        </a>
                        <a class=" btn rounded-pill btn-hover color-1 text-white" href="#!quiz" ng-hide="student==null">
                            TEST
                        </a>
                        <a class=" btn rounded-pill btn-hover color-2 text-white" href="#!about">
                            ABOUT US
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="/images/image2vector.svg" alt="" class="img-fluid d-block float-right"
                        style="width: 90%; height: 100%;">
                </div>
            </div>
        </section>
        <hr>
    
    
        <div class="container-full loginHome" style="padding-top: 15rem;">
            <h2 class="text-center" style="font-weight: bold; font-size: 45px; font-family: sans-serif;">
                Quyền Lợi Khi Đăng Nhập.
            </h2>
            <p class="text-center" style="color: gray; font-weight: lighter;">
                Bạn có thể làm bài thi , kiểm tra trình độ của bản thân .Ngoài ra bạn có thể đăng kí các khóa học online phù
                hợp dành riêng cho bản thân mình.
            </p>
            <div class="row text-center justify-content-lg-center">
                <div class="card col-sm-2 mr-3 border-0 bg-transparent">
                    <div class="card-body rounded-circle border-0">
                        <div class="container justify-content-center rounded-circle"
                            style="width: 7rem; height: 7rem; background-color: transparent;
                            background-image: linear-gradient(90deg, #5F45EA 0%, #8667F7 100%);box-shadow: 0px 10px 20px 0px rgb(114 86 241 / 50%);">
                            <img src="/images/java_icon.png" alt="" class="d-block mx-auto" style="padding-top: 48%;">
                        </div>
                    </div>
                    <div class="card-footer border-0 bg-transparent">
                        <h2 style="font-size: 25px; font-weight: 100; font-family: sans-serif;">LẬP TRÌNH JAVA</h2>
                        <p class="text-center" style="color: gray; font-weight: lighter;">
                            Java là một trong những ngôn ngữ lập trình hướng đối tượng. Nó được sử dụng trong phát triển
                            phần mềm, trang web, game hay ứng dụng trên các thiết bị di động. Java được khởi đầu bởi James
                            Gosling và bạn đồng nghiệp ở Sun MicroSystem năm 1991.
                        </p>
                    </div>
                </div>
                <div class="card col-sm-2 mr-3 border-0 bg-transparent">
                    <div class="card-body rounded-circle border-0">
                        <div class="container bg-info justify-content-center rounded-circle"
                            style="width: 7rem; height: 7rem; background-color: transparent;
                            background-image: linear-gradient(270deg, #FF8B8D 0%, #8667F7 100%);box-shadow: 0px 10px 20px 0px rgb(196 121 194 / 50%);">
                            <img src="/images/database_36px.png" alt="" class="d-block mx-auto" style="padding-top: 48%;">
                        </div>
                    </div>
                    <div class="card-footer border-0 bg-transparent">
                        <h2 style="font-size: 25px; font-weight: 100; font-family: sans-serif;">CƠ SỞ DỮ LIỆU</h2>
                        <p class="text-center" style="color: gray; font-weight: lighter;">
                            Database (Cơ sở dữ liệu) là một tập hợp có tổ chức các thông tin có cấu trúc hoặc dữ liệu,
                            thường được lưu trữ trực tuyến trong một hệ thống máy tính. Một cơ sở dữ liệu thường được kiểm
                            soát bởi hệ thống quản lý cơ sở dữ liệu (DBMS).
                        </p>
                    </div>
                </div>
                <div class="card col-sm-2 mr-3 border-0 bg-transparent">
                    <div class="card-body rounded-circle border-0">
                        <div class="container bg-info justify-content-center rounded-circle"
                            style="width: 7rem; height: 7rem;    background-color: transparent;
                            background-image: linear-gradient(90deg, #FF8B8D 0%, #FFC69C 100%);box-shadow: 0px 10px 20px 0px rgb(255 169 149 / 50%);">
                            <img src="/images/html_5_36px.png" alt="" class="d-block mx-auto" style="padding-top: 48%;">
                        </div>
                    </div>
                    <div class="card-footer border-0 bg-transparent">
                        <h2 style="font-size: 25px; font-weight: 100; font-family: sans-serif;">HTML/CSS</h2>
                        <p class="text-center" style="color: gray; font-weight: lighter;">
                            HTML (HyperText Markup Language) : là một ngôn ngữ đánh dấu được thiết kế ra để tạo nên các
                            trang web, nghĩa là các mẩu thông tin được trình bày trên World Wide Web. CSS (Cascading Style
                            Sheets) : CSS đặc biệt hữu ích trong việc
                            thiết kế Web.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" ng-show="student==null">
                <button class="btn_login text-white">
                    <a href="#!login" style="text-decoration: none; color: rgb(250, 249, 249);" > Đăng nhập</a>
                </button>
            </div>
        </div>
    </div>

    <div class="container-full home_skill text-center">
        <h2 class="text-center" style="font-weight: bold; font-size: 45px; font-family: sans-serif;">
            Gặp gỡ siêu năng lực mới của bạn.
        </h2>
        <p class="text-center" style="color: gray; font-weight: lighter;">
            Đánh giá cao chức năng tiên tiến và tinh tế của Online Developer. Khám phá các tính năng đáng kinh ngạc
            và các yếu tố hấp dẫn của chúng tôi!
        </p>
        <div class="container justify-content-center text-center">
            <div class="row">
                <div class="col-lg-3">
                    <i class="fa fa-users fa_icon__skill fa-3x" aria-hidden="true"></i>
                    <span class="ml-4 skill_txt pb-5">Agile Team</span>
                </div>
                <div class="col-lg-3">
                    <i class="fa fa-diamond fa_icon__skill fa-3x" aria-hidden="true"></i>
                    <span class="ml-4 skill_txt pb-5"> Effective</span>
                </div>
                <div class="col-lg-3">
                    <i class="fa fa-hand-pointer-o fa_icon__skill fa-3x" aria-hidden="true"></i>
                    <span class="ml-4 skill_txt pb-5"> Software</span>
                </div>
                <div class="col-lg-3">
                    <i class="fa fa-code fa_icon__skill fa-3x" aria-hidden="true"></i>
                    <span class="ml-4 skill_txt pb-5">Clean Code</span>
                </div>
                <div class="col-lg-3 mt-5">
                    <i class="fa fa-handshake-o fa_icon__skill fa-3x" aria-hidden="true"></i>
                    <span class="ml-4 skill_txt pb-5">Honestly</span>
                </div>
                <div class="col-lg-3 mt-5">
                    <i class="fa fa-lightbulb-o fa_icon__skill fa-3x" aria-hidden="true"></i>
                    <span class="ml-4 skill_txt pb-5">Innovative</span>
                </div>
                <div class="col-lg-3 mt-5">
                    <i class="fa fa-optin-monster fa_icon__skill fa-3x" aria-hidden="true"></i>
                    <span class="ml-4 skill_txt pb-5">Creative</span>
                </div>
                <div class="col-lg-3 mt-5">
                    <i class="fa fa-rocket fa_icon__skill fa-3x" aria-hidden="true"></i>
                    <span class="ml-4 skill_txt pb-5">Faster Job</span>
                </div>
            </div>
            <div class="row">
                <span>&nbsp;</span>
            </div>
        </div>
    </div>
    
    <div class="container-lg home_tool">
        <div class="row">
            <div class="col-lg-6">
                <img src="/images/creative_img1.png" alt="">
            </div>
            <div class="col-lg-5 offset-1 about_home">
                <h6 class="text-left"
                    style="font-weight: bold; font-size: 25px; font-family: sans-serif; padding-top: 10rem;">
                    Nhiều Ứng Dụng Và Tool.
                </h6>
                <p class="text-left" style="color: gray; font-weight: lighter;">
                    Xây dựng bố cục trong mơ của bạn từ ​​trước đến nay. Tạo bố cục trang của bạn trong nháy mắt!
                    Viết code từ con số 0 tới cao siêu.Tạo ngay ứng dụng hoặc trang web của bạn !
                </p>
                <a class=" btn rounded-2 btn-hover color-1 text-white" href="#!intro">
                    MORE ABOUT US
                </a>
            </div>
        </div>
    </div>
    
    
    <div class="container-full home_banr ">
        <div class="container justify-content-center">
            <h1 class="text-center" style="color: #fff; font-family: sans-serif; font-weight: 200;">
                Tham gia các khóa học và bài thi của web để xác định trình độ của bạn nào !
            </h1>
            <p class="text-center">
                <a class=" btn rounded-pill btn-hover color-2 text-white" href="#!quiz">
                    GO
                </a>
            </p>
        </div>
    </div>
    
    <div class="container-full home_comment">
        <h2 class="text-center" style="font-weight: bold; font-size: 45px; font-family: sans-serif;">
            Khách hàng & Lời chứng thực.
        </h2>
        <p class="text-center" style="color: gray; font-weight: lighter;">
    
            Có hàng nghìn người đã đánh giá Online Developer và các tính năng nổi bật của nó! Dưới đây là một vài đánh giá
            nổi bật.
        <p class="text-center" style="color: gray; font-weight: lighter;">
            Hãy tìm hiểu thêm về những gì mọi người
            nói về chúng tôi!</p>
        </p>
        <div class="container" style="margin-top: 3rem;">
            <div class="row">
                <div class="col-lg-6">
                    <div id="demo" class="carousel slide" data-ride="carousel">
                        <ul class="carousel-indicators ">
                            <li data-target="#demo" data-slide-to="0" class="active"></li>
                            <li data-target="#demo" data-slide-to="1"></li>
                            <li data-target="#demo" data-slide-to="2"></li>
                        </ul>
                        <div class="carousel-inner shadow">
                            <div class="carousel-item active ">
                                <div class="card border-0 bg-transparent">
                                    <div class="card-body border-0 bg-transparent text-center">
                                        <h3 style="font-size: 25px; ">Very LIght weight, clean & beautiful testimonial
                                            design!
                                        </h3>
                                        <p
                                            style="font-size: 13px; color: #6A687B; font-family: sans-serif; font-weight: 200;">
                                            Amazing theme! I discovered Monstroid2 as a perfect theme for my company! I’m
                                            new in
                                            website building, however I found that Elementor page builder is quite clear for
                                            me.
                                            Monstroid2 surprized me with its Jet plugins!
                                        </p>
                                    </div>
                                    <div class="card-footer border-0 bg-transparent">
                                        <div class="row">
                                            <div class="col-lg-2 offset-2">
                                                <img src="/images/avt1.jpg" alt=""
                                                    class="rounded-circle home_comment__img  ">
                                            </div>
                                            <div class="col-lg-8 text-left">
                                                <p style="font-size: 16px; font-family: sans-serif; font-weight: bold;">
                                                    <span>Avantika Eugene&nbsp;<span
                                                            style="font-size: 15px; font-weight: lighter; color: #6A687B;">-&nbsp;Giám
                                                            Đốc</span></span>
                                                </p>
                                                <p
                                                    style="font-size: 11px; color: #6A687B; font-family: sans-serif; font-weight: lighter;">
                                                    Đà Nẵng,Việt Nam.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card border-0 bg-transparent">
                                    <div class="card-body border-0 bg-transparent text-center">
                                        <h3 style="font-size: 25px; ">Very LIght weight, clean & beautiful testimonial
                                            design!
                                        </h3>
                                        <p
                                            style="font-size: 13px; color: #6A687B; font-family: sans-serif; font-weight: 200;">
                                            Amazing theme! I discovered Monstroid2 as a perfect theme for my company! I’m
                                            new in
                                            website building, however I found that Elementor page builder is quite clear for
                                            me.
                                            Monstroid2 surprized me with its Jet plugins!
                                        </p>
                                    </div>
                                    <div class="card-footer border-0 bg-transparent">
                                        <div class="row">
                                            <div class="col-lg-2 offset-2">
                                                <img src="/images/avt2.jpg" alt=""
                                                    class="rounded-circle home_comment__img">
                                            </div>
                                            <div class="col-lg-8 text-left bg-transparent">
                                                <p style="font-size: 16px; font-family: sans-serif; font-weight: bold;">
                                                    <span>Avantika Eugene&nbsp;<span
                                                            style="font-size: 15px; font-weight: lighter; color: #6A687B;">-&nbsp;Giám
                                                            Đốc</span></span>
                                                </p>
                                                <p
                                                    style="font-size: 11px; color: #6A687B; font-family: sans-serif; font-weight: lighter;">
                                                    Đà Nẵng,Việt Nam.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card border-0 bg-transparent ">
                                    <div class="card-body border-0 bg-transparent text-center">
                                        <h3 style="font-size: 25px; ">Very LIght weight, clean & beautiful testimonial
                                            design!
                                        </h3>
                                        <p
                                            style="font-size: 13px; color: #6A687B; font-family: sans-serif; font-weight: 200;">
                                            Amazing theme! I discovered Monstroid2 as a perfect theme for my company! I’m
                                            new in
                                            website building, however I found that Elementor page builder is quite clear for
                                            me.
                                            Monstroid2 surprized me with its Jet plugins!
                                        </p>
                                    </div>
                                    <div class="card-footer border-0 bg-transparent">
                                        <div class="row">
                                            <div class="col-lg-2 offset-2 bg-transparent">
                                                <img src="/images/avt3.jpg" alt=""
                                                    class="rounded-circle home_comment__img  ">
                                            </div>
                                            <div class="col-lg-8 text-left">
                                                <p style="font-size: 16px; font-family: sans-serif; font-weight: bold;">
                                                    <span>Avantika Eugene&nbsp;<span
                                                            style="font-size: 15px; font-weight: lighter; color: #6A687B;">-&nbsp;Giám
                                                            Đốc</span></span>
                                                </p>
                                                <p
                                                    style="font-size: 11px; color: #6A687B; font-family: sans-serif; font-weight: lighter;">
                                                    Đà Nẵng,Việt Nam.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
    
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card border-0 bg-transparent">
                                <div class="card-body border-0 bg-transparent text-center ">
                                    <img src="/images/c.svg" alt="" class="d-block home_comment__img mx-auto">
                                </div>
                                <div class="card-footer border-0 bg-transparent">
                                    <p class="text-center" style="color: gray; font-weight: bold; font-size: 20px;">
                                        Trình Độ Cao
                                    <p class="text-center" style="color: gray; font-weight: lighter;">
                                        Trình độ chuyên môn của chúng tôi được đúc kết bằng 10 năm kinh nghiệm</p>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card border-0 bg-transparent">
                                <div class="card-body border-0 bg-transparent">
                                    <img src="/images/comment_1.svg" alt="" class="d-block home_comment__img mx-auto">
                                </div>
                                <div class="card-footer border-0 bg-transparent">
                                    <p class="text-center" style="color: gray; font-weight: bold; font-size: 20px;">
                                        Thời Gian Hợp Lý
                                    <p class="text-center" style="color: gray; font-weight: lighter;">
                                        Sắp xếp thời gian hợp lý dành cho <span style="color: lightsalmon;">Your Daily
                                            Scheldule !</span></p>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 5rem;">
                <div class="col-lg-4">
                    <div class="card border-0 bg-transparent">
                        <div class="card-body border-0 bg-transparent">
                            <img src="/images/comment_5.svg" alt="" class="d-block home_comment__img mx-auto">
                        </div>
                        <div class="card-footer border-0 bg-transparent">
                            <p class="text-center" style="color: gray; font-weight: bold; font-size: 20px;">
                                Support 24/7
                            <p class="text-center" style="color: gray; font-weight: lighter;">
                                Chúng tôi sẵn sàng hỗ trợ bạn với bất kỳ vấn đề nào bạn gặp phải! Nhóm Hỗ trợ tận tâm của
                                chúng tôi đang đề phòng!</p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card border-0 bg-transparent">
                        <div class="card-body border-0 bg-transparent">
                            <img src="/images/comment_3.svg" alt="" class="d-block home_comment__img mx-auto">
                        </div>
                        <div class="card-footer border-0 bg-transparent">
                            <p class="text-center" style="color: gray; font-weight: bold; font-size: 20px;">
                                Bài Giảng Hợp Lý
                            <p class="text-center" style="color: gray; font-weight: lighter;">
                                Bài giảng của website chúng tôi dựa vào từng trình độ của từng người từ đó đưa ra khóa học
                                hợp lý cho bạn.</p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card border-0 bg-transparent">
                        <div class="card-body border-0 bg-transparent">
                            <img src="/images/comment_4.svg" alt="" class="d-block home_comment__img mx-auto">
                        </div>
                        <div class="card-footer border-0 bg-transparent">
                            <p class="text-center" style="color: gray; font-weight: bold; font-size: 20px;">
                                Tài liệu đầy đủ
                            <p class="text-center" style="color: gray; font-weight: lighter;">
                                Tất cả các vấn đề kỹ thuật được đánh dấu trong tài liệu của Online Developer.</p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-full home_teach" style="margin-top: 5rem;">
            <h2 class="text-center" style="font-weight: bold; font-size: 45px; font-family: sans-serif;">
                Giảng Dạy Của Website Chúng Tôi.
            </h2>
            <p class="text-center" style="color: gray; font-weight: lighter;">
                Trong ngành lập trình và tạo giao diện web có rất nhiều ngôn ngữ khách nhau.Dưới đây là một số
                ngôn ngữ mà trang web chúng tôi giảng dạy.
            </p>
            <div class="container justify-content-center">
                <div class="row home_teach__box">
                    <div class="col-lg-4">
                        <div class="col-lg-12">
                            <div class="row">
                                <img src="/images/prodducts_logo_home/java-removebg-preview.png" alt=""
                                    class="mx-auto d-block home_teach__img img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-12" style="margin-top: 2rem;">
                            <div class="row">
                                <img src="/images/prodducts_logo_home/1_R1mfXLP9edcArZXwmGbGag-removebg-preview.png" alt=""
                                    class="mx-auto d-block home_teach__img img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 justify-content-center">
                        <img src="/images/prodducts_logo_home/php-mascot-removebg-preview.png" alt=""
                            class="mx-auto d-block home_teach__img img-fluid" style="margin-top: 6rem;">
                    </div>
                    <div class="col-lg-4">
                        <div class="col-lg-12">
                            <div class="row">
                                <img src="/images/prodducts_logo_home/sql_sever-removebg-preview.png" alt=""
                                    class="mx-auto d-block home_teach__img img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-12" style="margin-top: 2rem;">
                            <div class="row">
                                <img src="/images/prodducts_logo_home/html-removebg-preview (2).png" alt=""
                                    class="mx-auto d-block home_teach__img img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="container title_contact" style="padding-top: 3rem;">
        <h5>
            <span col-lg-3>
                <i class="fa fa-phone" aria-hidden="true" style="color: red;"></i>&nbsp;Contact us
            </span>
        </h5>
        <h2>
            <b>
                <span>
                    TƯ VẤN
                </span>
            </b>
        </h2>
    </div>
    
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-4 aos-init aos-animate" data-aos="fade-right">
                <div class="info">
                    <div class="address"> <i class="bi bi-geo-alt"></i>
                        <h4><i class="fa fa-map-marker" aria-hidden="true" style="color: orange;"></i>&nbsp;Location:
                        </h4>
                        <ul>
                            <li><strong class="badge badge-info">Trụ sở chính</strong>: Công Viên Phần Mềm Quang Trung, Hồ Chí Minh, Việt Nam</li>
    
                            <li><strong class="badge badge-info">CS1</strong>: Việt Nam</li>
    
                            <li><strong class="badge badge-info">CS2</strong>:      Việt Nam
                            </li>
    
                        </ul>
                    </div>
                    <div class="email"> <i class="bi bi-envelope"></i>
                        <h4><i class="fa fa-envelope-o" aria-hidden="true" style="color: orange;"></i>&nbsp;Email:</h4>
                        <p>Englishbreak@gmail.com</p>
                    </div>
                    <div class="phone"> <i class="bi bi-phone"></i>
                        <h4><i class="fa fa-volume-control-phone" aria-hidden="true" style="color: orange;"></i>&nbsp;Call:
                        </h4>
                        <p>+84 123123123</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 mt-5 mt-lg-0 aos-init aos-animate" data-aos="fade-left">
                <form action="" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="col-md-6 form-group"> <input type="text" name="name" class="form-control" id="name"
                                placeholder="Your Name" required=""></div>
                        <div class="col-md-6 form-group mt-3 mt-md-0"> <input type="email" class="form-control" name="email"
                                id="email" placeholder="Your Email" required=""></div>
                    </div>
                    <div class="form-group mt-3"> <input type="text" class="form-control" name="subject" id="subject"
                            placeholder="Subject" required=""></div>
                    <div class="form-group mt-3"><textarea class="form-control" name="message" rows="5"
                            placeholder="Message" required=""></textarea></div>
                    <div class="my-3">
                    </div>
                    <div class="text-center"><button type="submit" class="btn btn-primary">Send Message</button></div>
                </form>
            </div>
        </div>
    </div>
</div>

