<style>
    body {
        background-image: url(/images/home-1-bg-gr-4.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
</style>
<section class=" rgba-white-strong rounded shadow p-3">
    <h3 class="font-weight-bold black-text mb-4 pb-2 text-center">CÂU HỎI THƯỜNG GẶP</h3>
    <hr class="w-header">
    <p class="lead text-muted mx-auto mt-4 pt-2 mb-5 text-center">Đây là những câu hỏi thường gặp. Nếu bạn có câu hỏi khác hãy liên hệ TT hỗ trợ</p>
    <div class="media border p-3">
        <img src="/images/userImage/profile.jpg" alt="Manager" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div class="media-body">
          <h4>Manager <small><i>Posted on February 19, 2022</i></small></h4>
          <p> Học trực tuyến là gì? <i class="fas fa-school rotate-icon"></i></p>
          <div class="media-body">
            Có rất nhiều cách hiểu khác nhau về định nghĩa đào tạo online, nhưng cách hiểu cơ bản đó là một phương thức phân phối các tài liệu, nội dung học tập dựa trên các công cụ điện tử hiện đại như: điện thoại, máy tính thông qua mạng internet. Trong đó, nội
            dung tài liệu học tập có thể được cập nhật từ các website trường học trực tuyến và các ứng dụng di động khác. Đặc điểm vượt trội của đào tạo qua mạng đó chính là tính tương tác cao và đa dạng giữa giảng viên và người học. Theo
            tính năng đó, giảng viên và người học có thể trao đổi trực tiếp với nhau thông qua các ứng dụng: chat, email, diễn đàn, hội thảo trực tuyến,…
        </div>
        </div>
      </div>
      <div class="media border p-3">
        <img src="/images/userImage/profile.jpg" alt="Manager" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div class="media-body">
          <h4>Manager <small><i>Posted on February 19, 2022</i></small></h4>
          <p> Học trực tuyến: Nên hay không?  <i class="fas fa-school rotate-icon"></i></p>
          <div class="media-body">
            Có ! Bởi vì hằng ngầy bạn phải tham gia các hoạt động hằng ngày trong cuộc sống và phải đi làm .Nên bạn không có thời gian cho những khóa học cố định bởi vì nó rất 
            chiếm thời gian và bạn ohiar dành ra một khoảng thời gian nhất định cho nó.Những chúng ta có thể giải quyết nó,cũng như sắp xếp thời gian một cách chủ động bằng cách tham 
            gia các khóa học online.Học Online nơi mà bạn có thể học bất cứ khi nào và kho tài liệu rất nhiều !
        </div>
        </div>
      </div>
      <div class="media border p-3">
        <img src="/images/userImage/profile.jpg" alt="Manager" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div class="media-body">
          <h4>Manager <small><i>Posted on February 19, 2022</i></small></h4>
          <p> Phải đạt bao nhiêu điểm trong 1 bài kiểm tra? <i class="fas fa-school rotate-icon"></i></p>
          <div class="media-body">
            > 50% tổng số tổng số câu hỏi.
        </div>
        </div>
      </div>
      <div class="media border p-3">
        <img src="/images/userImage/profile1.jpg" alt="Manager" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div class="media-body">
          <h4>Manager <small><i>Posted on February 28, 2022</i></small></h4>
          <p> Có ưu đãi hay không <i class="fas fa-school rotate-icon"></i></p>
          <div class="media-body">
            Tất nhiên là luôn có.Chúng tôi luôn chào đón những học viên mới.Tặng kèm tài liệu với những khóa học đầu tiên.
            Đặn biệt học phí khóa đầu luôn giảm <badge class="badge-danger">50%</badge>!!!
        </div>
        </div>
      </div>
</section>